homeassistant:
  name: Seehaus
  latitude: !secret latitude
  longitude: !secret longitude
  elevation: 450
  unit_system: metric
  time_zone: Europe/Zurich
  customize: !include customize.yaml

frontend:

lovelace:
  mode: yaml

config:

http:
  base_url: !secret http_uri 
  server_host: 0.0.0.0
  trusted_proxies: 10.4.0.8
  use_x_forwarded_for: true
#updater:
  # reporting: False
  # include_used_components: true

logger:
  default: info

history:

logbook:

map:

sun:

##################INTEGRATIONS###################
homematic:
  interfaces:
    ip:
      host: 10.5.0.3
      port: 2010
      username: !secret homematic_ip_user
      password: !secret homematic_ip_password
    rf:
      host: 10.5.0.3
      username: !secret homematic_rf_user
      password: !secret homematic_rf_password
  hosts:
    ccu2:
      host: 10.5.0.3
      username: !secret homematic_ccu2_user
      password: !secret homematic_ccu2_password

hue:
  bridges:
    - host: 10.5.0.4

influxdb:
  host: menegroth.ahome
  port: 3000
  database: smarthome
  exclude:
    entities:
      - sun.sun
      - sensor.time
      - sensor.date
      - sensor.random_sensor
      - camera.sauron
    domains:
      - automation
      - group
      - script

homekit:
  auto_start: False

device_tracker:
  - platform: unifi_direct
    host: 10.4.0.14
    username: !secret unify_user
    password: !secret unify_password
    consider_home: 300

vacuum:
  - platform: roomba
    host: 10.4.0.16
    name: Gollum
    username: !secret roomba_user
    password: !secret roomba_password
    path: "/home/homeassistant/.homeassistant/www/map"
    size: '(2000,1000,120,-296,0,0)'

notify: !include_dir_list notifications

######################CONFIGURATION###############
group: !include groups.yaml
automation: !include_dir_merge_list automations
script: !include_dir_merge_named scripts

#Shitty lamp with 5 bulbs....
light:
  - platform: group
    name: Wohnzimmer Licht
    entities:
      - light.w1
      - light.w2
      - light.w3
      - light.w4
      - light.w5

##########   Kamera   #########
camera:
  - platform: generic
    still_image_url: !secret sauron_url
    name: Sauron

########## Global Sensors ########
sensor:
  - platform: time_date
    display_options:
      - 'time'
      - 'date'
  - platform: random

########## Covers ########
cover:
  - platform: group
    name: Wohnzimmer
    entities:
      - cover.storen_terrasse_links
      - cover.storen_terrasse_rechts
      - cover.storen_wohnzimmer_links
      - cover.storen_wohnzimmer_rechts
      - cover.storen_kueche_links
      - cover.storen_kueche_rechts
  - platform: group
    name: Schlafzimmer
    entities:
      - cover.schlafzimmer_links
      - cover.schlafzimmer_rechts

##########   Shell-Commands  ########
shell_command:
  sauron_image: /home/homeassistant/.homeassistant/shell-scripts/sauron-image.sh

##########   Meta-Schalter     ###########
input_boolean:
  at_home:
    name: Zuhause
    initial: off
    icon: mdi:sign-in

input_datetime:
  storen_halb_oeffnen:
    name: Storen halb öffnen
    has_time: true
    has_date: false
  storen_ganz_oeffnen:
    name: Storen ganz öffnen
    has_time: true
    has_date: false

