homeassistant:
  name: Seehaus
  latitude: !secret latitude
  longitude: !secret longitude
  elevation: 450
  unit_system: metric
  time_zone: Europe/Zurich
  customize: !include customize.yaml

frontend:

lovelace:
  mode: yaml

config:

system_health:

http:
  base_url: !secret http_uri 
  server_host: 0.0.0.0
  trusted_proxies: 10.4.0.8
  use_x_forwarded_for: true
#updater:
  # reporting: False
  # include_used_components: true

logger:
  default: warn
  logs:
    miflora: debug
    btlewrap: debug
    bluepy: debug

history:
  exclude:
    entities:
      - sun.sun
      - sensor.time
      - sensor.date
      - sensor.random_sensor
    domains:
      - camera
      - script
      - group

logbook:

map:

sun:

##################INTEGRATIONS###################
homematic:
  interfaces:
    ip:
      host: 10.5.0.3
      port: 2010
      username: !secret homematic_ip_user
      password: !secret homematic_ip_password
    rf:
      host: 10.5.0.3
      username: !secret homematic_rf_user
      password: !secret homematic_rf_password
#  hosts:
#    ccu2:
#      host: 10.5.0.3
#      username: !secret homematic_ccu2_user
#      password: !secret homematic_ccu2_password

hue:
  bridges:
    - host: 10.5.0.4

influxdb:
  host: influxdb.ahome
  port: 80
  database: smarthome
  exclude:
    entities:
      - sun.sun
      - sensor.time
      - sensor.date
      - sensor.random_sensor
      - camera.sauron
    domains:
      - automation
      - group
      - script

homekit:
  auto_start: False
  filter:
    include_domains:
      - vacuum
      - plant
    include_entities:
      - binary_sensor.0000d8a991d263_state
      - binary_sensor.0000d8a991d301_state
      - binary_sensor.0000d8a991d331_state
      - binary_sensor.0000d8a991d35c_state
      - binary_sensor.0000d8a9aaa854_state
      - binary_sensor.000915699a427d_motion
      - camera.amon_sul
      - camera.sauron
      - camera.roomba
      - climate.000c98a99501c4
      - climate.000c98a99501f3
      - cover.schlafzimmer
      - cover.wohnzimmer
      - light.hue_lightstrip_plus_1
      - light.schlafzimmer
      - light.wohnzimmer_licht
      - plant.thuja
      - sensor.000915699a427d_illumination
      - sensor.000a58a9ac3c02_smoke_detector_alarm_status
      - sensor.000ed8a9909c6d_actual_temperature
      - sensor.000ed8a9909c6d_humidity
      - sensor.000ed8a9909c6f_actual_temperature
      - sensor.000ed8a9909c6f_humidity
      - sensor.0017d709ae2f48_illumination
      - sensor.0017d709ae2f48_wind_speed
      - switch.000898a9932fdf
      - switch.000898a9951a7c
      - switch.000898a9951e58
      - switch.001015699eacfa
      - switch.hmespmsw1pldnr5_meq1478516
      - vacuum.gollum

device_tracker:
  - platform: unifi_direct
    host: 10.4.0.14
    username: !secret unify_user
    password: !secret unify_password
    consider_home: 300

vacuum:
  - platform: roombai7
    host: 10.4.0.17
    name: Gollum
    username: !secret roomba_user
    password: !secret roomba_password
    map: /home/homeassistant/venv/www/map/map.png
    floorplan: /home/homeassistant/venv/www/map/floorplan.png
    offset:
      x: 74
      y: 1035

notify: !include_dir_list notifications

######################CONFIGURATION###############
group: !include groups.yaml
automation: !include_dir_merge_list automations
script: !include_dir_merge_named scripts
plant: !include_dir_merge_named plants
#Shitty lamp with 5 bulbs....
light:
  - platform: group
    name: Wohnzimmer Licht
    entities:
      - light.w1
      - light.w2
      - light.w3
      - light.w4
      - light.w5

##########   Kamera   #########
camera:
  - platform: generic
    still_image_url: !secret sauron_url
    name: Sauron
  - platform: generic
    still_image_url: !secret amonsul_url
    name: Amon Sul
  - platform: generic
    still_image_url: !secret radagast_url
    name: Radagast
  - platform: generic
    still_image_url: http://localhost:8123/local/map/map.png
    name: Roomba

########## Global Sensors ########
sensor: !include_dir_merge_list sensors

########## Covers ########
cover:
  - platform: group
    name: Wohnzimmer
    entities:
      - cover.storen_terrasse_links
      - cover.storen_terrasse_rechts
      - cover.storen_wohnzimmer_links
      - cover.storen_wohnzimmer_rechts
      - cover.storen_kueche_links
      - cover.storen_kueche_rechts
  - platform: group
    name: Schlafzimmer
    entities:
      - cover.schlafzimmer_links
      - cover.schlafzimmer_rechts

##########   Shell-Commands  ########
shell_command:
  sauron_image: /home/homeassistant/venv/shell-scripts/sauron-image.sh
  amonsul_image: /home/homeassistant/venv/shell-scripts/amonsul-image.sh
  radagast_image: /home/homeassistant/venv/shell-scripts/radagast-image.sh
  update_plants: /home/homeassistant/venv/shell-scripts/update_plants.sh

##########   Meta-Schalter     ###########
input_boolean:
  at_home:
    name: Zuhause
    initial: off
    icon: mdi:sign-in

input_datetime:
  storen_halb_oeffnen:
    name: Storen halb öffnen
    has_time: true
    has_date: false
  storen_ganz_oeffnen:
    name: Storen ganz öffnen
    has_time: true
    has_date: false

