homeassistant:
  name: Seehaus
  latitude: !secret latitude
  longitude: !secret longitude
  elevation: 450
  unit_system: metric
  time_zone: Europe/Zurich
  customize: !include customize.yaml

frontend:

config:

http:
  base_url: !secret http_uri 
  server_host: 0.0.0.0
  trusted_proxies: 10.4.0.8
  use_x_forwarded_for: true
#updater:
  # reporting: False
  # include_used_components: true

logger:
  default: info

history:

logbook:

map:

sun:

##################INTEGRATIONS###################
homematic:
  interfaces:
    ip:
      host: 10.5.0.3 
      port: 2010
      username: !secret homematic_ip_user
      password: !secret homematic_ip_password
    rf:
      host: 10.5.0.3
      username: !secret homematic_rf_user
      password: !secret homematic_rf_password
  hosts:
    ccu2:
      host: 10.5.0.3
      username: !secret homematic_ccu2_user
      password: !secret homematic_ccu2_password

hue:
  bridges:
    - host: 10.5.0.4

influxdb:
  host: menegroth.ahome
  port: 3000
  database: smarthome

homekit:
  auto_start: False

notify: !include_dir_list notifications

######################CONFIGURATION###############
group: !include groups.yaml
automation: !include_dir_merge_list automations
script: !include_dir_merge_named scripts

#Shitty lamp with 5 bulbs....
light:
  - platform: group
    name: Wohnzimmer Licht
    entities:
      - light.w1
      - light.w2
      - light.w3
      - light.w4
      - light.w5

##########   Kamera   #########
camera:
  - platform: generic
    still_image_url: !secret sauron_url
    name: Sauron

########## Global Sensors ########
sensor:
  - platform: time_date
    display_options:
      - 'time'
      - 'date'
  - platform: random

##########   Shell-Commands  ########
shell_command:
  sauron_image: /home/homeassistant/.homeassistant/shell-scripts/sauron-image.sh

##########   Meta-Schalter     ###########
input_boolean:
  at_home:
    name: Zuhause
    initial: off
    icon: mdi:sign-in

input_datetime:
  storen_halb_oeffnen:
    name: Storen halb öffnen
    has_time: true
    has_date: false
  storen_ganz_oeffnen:
    name: Storen ganz öffnen
    has_time: true
    has_date: false
